﻿/*  core color summary:
	block background: #003399
    block alternate: #0066cc
    light alternate: #b5c7d6
    grey: #eeeeee
    warning colors: cornsilk, maroon
*/
/* BROWSER RESET (based on Eric Meyer's Reset) */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, main, nav, ins {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;		
	line-height: inherit;
	vertical-align: baseline;
	font-family: inherit;
	font-size: 100%;
}
:focus {
	outline: 0;
	}
body {
    background: white;
	line-height: 1.35;
	color: black;
	}
ol, ul {
	list-style: disc;
	margin: 10px 40px;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	/* text-align: inherit; */
	padding: 4px;
	}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";	
	}
blockquote, q {
	quotes: "" "";
	margin: 15px;
	}
input,select,textarea
{
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
}	
p
{
	margin: 10px 0;
}
/* END BROWSER RESET */


/* BUILT-IN ELEMENT CUSTOMIZATION */
html,body,table,td,th,input,textarea,select
{
    color: #3e433e;    
    font-family: Geneva, Verdana, 'DejaVu Sans', sans-serif;        
    font-size: 0.98em;
    -webkit-font-smoothing: antialiased;
}
html,body {
    
}
main {
    display: block
}

pre
{
    color: black;
    font-family: monospace,consolas,courier new;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.93em;
}
img
{
    border: none;
    margin: 0;    
        max-width: 100%;
        height: auto;
    }
a {
    text-decoration: none;
}
h1,h2,h3,h4,h5 {
    font-family:  Geneva, Verdana, Tahoma, sans-serif;
    font-family: Trebuchet,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
h1
{
    background-color: #eeeeee;
    color: navy;
    font-size: 1.6em;    
    font-weight: bold;    
    padding: 4px;
    text-align: center
}
h2
{    
    color: Steelblue;
    font-size: 1.45em;
    font-weight: bold;        
}
h3
{
    color: steelblue;
    font-size: 1.3em;
    font-weight: 800;    
    margin-top: 15px;
}
h4
{
    color: #2D2A2A;
    font-size: 11pt;
    font-weight: 700;    
    margin-top: 14px;
}
table
{
 	border-collapse: collapse;
}
td
{
	border-collapse: collapse;
    border-color: lightgrey;
}
table.blackborder td
{	
	border-width: 1px;
	border-color: lightgrey;
}
th
{
	border-collapse: collapse;
	font-weight: bold;
	text-align: center;
}
a 
{ color: navy; }
a:visited
{
	color: teal;
}
a:hover 
{ color: maroon;}
small, .smalltext, .small
{
    font-size: 0.85em;
    font-weight: normal;
}
hr 
{ color: silver; background: silver; border: 0; height:1px;}
	
li
{
	margin-top: 3px;	
}
fieldset
{
	border: solid 1px darkgrey;	   
	margin-bottom: 5px;
	margin-top: 15px;
	padding: 10px;
	border-radius: 5px;
}
.fieldsetpadding
{
	padding: 15px;
}
legend
{
	font-weight: bold;
	background: #DE8079;
	color: White;
	padding: 2px 5px;
	margin: 3px;
	border: solid 1px maroon;
	text-align: left;
}    
input[type=text], input[type=password],input[type=email], select, textarea
{    	    	
	background-color: #F5F7FA;    	
	border: solid 1px lightsteelblue;
	border-style:solid;
	padding: 3px;	
    border-radius: 2px;
    
}
input[type=text]:focus, input[type=password]:focus,input[type=email]:focus,select:focus, textarea:focus
{
	background-color: Ivory !important;	
    box-shadow: 2px 2px 6px lightgray;
}
.clearfix,.clear
{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.hidden {
    display: none;
}
.shown {
    display: block;
}
.number
{
    text-align: right;
}
.date
{
    width: 75px;
}
.datetime 
{
    width: 100px;
}
.label, label , .label-left
{
    font-weight: bold;
}
.label-left
{
    float: left;
    width: 150px;
}
.rightalign {
    float: right;
    text-align: right;
}
.blackborder
{
	border-style: solid;
	border-width: 2px;
	border-color: #003399;
	background: white;
	text-align: left;
}
/* 
   used on the main page left table column 
   the default contains the wave background
*/
.categorylistbackground
{
	width: 170px;
	background-image: url(images/newwave.jpg);
	/* background: #fff8ad; */
	vertical-align: top;
	padding-left: 4pt;
}

/* block backgrounds for headers etc. */
.menuband, .gridheader, .gridheaderbig, .buttonlinks, .blockheader, .roundedcorner_center
{
	color: cornsilk;
	background-color: #003399;
}
/* alternate background color color to offset the background
   used for the category list and banner strips for color
   variety. should be a companion color to the block background
   colors (previous tag
*/
.alternatebackground
{
	color: white;
	background-color: #0066cc;
}

/* used for any block tags like headers on tables etc. */
.blockheader
{
	font-weight:bold;
}
.pagemarquee
{
    position: relative;
    top: 0;
    left: 0;
    height: 290px; 
    overflow: hidden;	
}


.marquee-bottom-menu {

    background: white;
    border-bottom: 1px silver solid;
    /*box-shadow: 2px 2px 5px #535353;*/
    padding: 10px;
    padding-left: 265px;
    font-size: 0.8em;
}

.hero-image {
    width: 100%; 
    min-width: 1100px;
    margin-top: -5%;
    transition: height 0.7s ease-in-out;
}
.post-container {
       background: #f5f8fa;
       padding: 1px 0 10px;
    }

.post-sidebar {
    position: absolute;
    top: 360px;
    left: 15px;
    width: 200px;
    background: transparent;    
    padding: 0 5px 10px 10px;    
    z-index: 1;
    font-size: 0.9em;
    transition: top 0.5s;
}  
.post-sidebar.hide {
    display: none;  
}

    .post-content {
        background: white;
        min-height: 500px;
        border-radius: 6px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid lightgray;
        border-right: none;
        margin: 8px 0 20px 240px;
        padding: 0 10px 10px 30px;
        transition: margin-left 0.5s;
    }
    .post-content.expand {
        margin-left: 10px;
    }
    .post-content h2 {
        margin-top: 0;
        padding-top: 0;
    }

.author-image {
    position: absolute;
    top: 170px;
    left: 15px;
    border-radius: 10px;
    border: 5px white solid;
    position: absolute;
    width: 175px;        
    z-index: 1000;
    transition: top 0.7s ease-in-out;
}
.blog-name-container {
    font-family: Trebuchet,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    position: absolute;
    background: #393939;
    opacity: 0.80;
    padding: 5px 10px;
    color: cornsilk;
    position: absolute;
    cursor: pointer;   
    top: 185px;
    left: 165px;
    width: auto;
    z-index: 1001;
    width: 375px;
    border-radius: 4px;
    box-shadow: 4px 4px 6px #535353;
    transition: top 0.7s ease-in-out;
}
.blog-name-container h2 {
    color: white;
    font-size: 2.4em;  
    padding: 0;
    font-weight: bold;
}



.author-name {
    font-family: Trebuchet,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8em;
    font-weight: 800;
} 
.twitter-name a {
    text-decoration: none;
    color: steelblue;
}
.sidebar-header {
    font-family: Trebuchet,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 10px;
    color: black;
}
.sidebar-group {
    font-size: 0.925em;
    font-weight: normal;
    padding: 1px 10px;
    line-height: 1.6;   
}
.sidebar-group a {
    color: steelblue;    
}
.sidebar-group a:hover,.sidebar-group a:active {
    color: #727272;
}


@media(min-width: 1200px) {
    .author-image {
         top: 210px;
    }
    .blog-name-container {
        top: 225px;
    }

    .hero-image {
        margin-top: -5%;
    }
    .pagemarquee {
        height: 330px;
    }
    .post-sidebar {
        top: 400px;
    }
    #ArticleBody {
        margin-right: 25px;
        margin-left: 10px;     
    }    
}
@media(max-width: 640px) {
    .author-image {
        top: 105px;
        left: 5px;
        width: 80px;
    }

    .blog-name-container {
        top: 120px;
        left: 75px;
        font-size: 0.63em;
        width: auto;
        padding: 4px 6px;
    }
    .hero-image {
        margin-top: -10%;
        margin-left: -250px;        
        width: 100%;
    }
    .pagemarquee {
        height: 200px;
    }
        
    .post-container {
        padding: 0;
    }
    .post-content {
        padding: 0 10px 10px 15px;
    }
    .post-sidebar {
        display: none;
    }
    .post-content {
        margin: 0;
        border: none;        
    }
    .post-content h2 {
        margin-top: 1px;
        padding-top: 0;
    }
    .marquee-bottom-menu {
        padding-left: 15px;
    }

}

.weblogbanner
{
    font-size: 0.8em;
	padding: 6px 10px 0;
	font-weight:bold;
	background: #003399 url(images/floralbackground_sm.gif) ;
	height:21px;
	white-space:nowrap;
	overflow:hidden;		
    box-shadow: #535353 0px 2px 6px;    
}
.weblogbannertext
{
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 2px;

}
.weblogbannertext:visited
{
	color: white;
}
.weblogbannertext:hover
{
	color: #003399;
	background: white url(images/menuhighlight.png) repeat;
}

.bannertitletext 
{
	color: #003399;
	font-size: 24pt;
	font-family: verdana;
	font-weight: bold;	
	text-decoration: none;
	margin-top: 5px;
	margin-bottom: 5px;
}
.banner
{
	font-weight:bold;
	background: #003399 url(images/floralbackground_sm.gif) ;
	height:24px;
	white-space:nowrap;
}

/* menu text for the banner below the logo */
.bannertext
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
.bannertext:visited
{
	color: white;
}
.bannertext:hover
{
	color: #003399;
	background: white url(images/headergradient.png) repeat;
}

    
.contentpanel
{
	margin-left:240px; 
	padding: 10px 15px 10px 10px;	
	overflow:visible;    
}
.borderbox {
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 7px #535353;
    background: url(images/lightorangegradient.png) repeat-x top;
    margin: 30px 0 10px;
}
.comment
{
    
}

.comment-panel-left {
    width: 110px;
    float:left;                                                
}
.comment-panel-left small {
    font-size: 0.7em;
}
.comment-panel-right {            
    min-height: 150px;            
    margin : 0;
    margin-left: 130px;
    padding: 0 15px 10px 10px;
    margin-bottom: 40px;
    border-left:  1px solid lightgrey;

}
.post-list-byline {
    font-style: italic;
    margin: 5px 0 10px 0;
    font-size: 0.8em;
}
@media(max-width: 550px) {
    .comment-panel-left {
    width: 120px;
    float: none;
    padding-left: 10px;          
    margin-bottom: 10px;                           
    border-right:  1px solid lightgrey;
}
    .comment-panel-right {
        margin-left: 0;
    }

}
.commentheader,.commentheader:visited {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    color: steelblue;   
}
    .commentheader:hover {
        text-decoration: underline; 
        color: maroon;       
    }
.commentauthor
{
	background: url(images/lightorangegradient.png) repeat-x top;
}
.byline 
{ 		
	font-size: 8pt;
}
.commenttime
{
	background: transparent url(images/time.gif) no-repeat; 
	padding-left:16px;
	margin-left: 5px; 
}
.commentcount
{
	background: transparent url(images/comment.gif) no-repeat; 
	padding-left:20px; 
	min-height: 18px;
	font-size: 8pt;
	float:right;
}

.postcontent,.postcontent li
{    
    line-height: 1.5;
    letter-spacing: 0.1px;
    font-size: 97%;
}
/* used on the category list as a standard link */
.menucolumn 
{ 
	padding:5px;
	border-bottom: solid 1px white ;
}
.menulink
{
    color: black;    
    font-size: 8pt;
    font-weight: normal;
    text-decoration: none ;
    display:block;
    text-align:left;
    padding-top:4px;
    padding-bottom: 4px;
    padding-left: 5px;
    margin-right:5px;
    border: solid 1px transparent;
    border-radius: 4px;
}
.menulink:visited { color: black; } 
.menulink:hover  
{
    color:navy;
    text-decoration:none; 
    font-weight:normal;
    background: white url(images/menuhighlight.png) repeat-x;
    border: solid 1px darkgray;}
.menuband
{	
	font-weight: bold;
	height: 20px;
	padding-top: 5px;
	text-align: center;
}
.buttonlinks 
{
    font-weight:bold;
    text-decoration: none;
    display: block;
    padding:2px;
}
.buttonlinks:visited { color: cornsilk; }
.buttonlinks:hover { color:navy; text-decoration:none; background:white;} 

.submitbutton {
    cursor: pointer;
    padding: 7px 14px;	
    border-radius: 4px;
    min-width: 150px;
    font-weight: bold;
    background:  #0044cc;
    border: solid 1px;
    border-color: #0044cc;
    box-shadow: 2px 2px 4px #888888;
    color: White;        
    transition: opacity linear 0.4s, box-shadow linear 0.4s;    
    -webkit-appearance: none;
}
.submitbutton:hover, .submitbutton:active
{
   opacity: 0.85;
   box-shadow: 1px 1px 2px #0E0D0D;  
} 
.smallbutton
{
	border: 1px solid orange;
	padding: 4px 8px;
	min-width: 90px;
	font-size: 8pt;
	color: navy;
	background: url(images/dialogselection.png) !important;
    border-radius: 4px 4px 4px 4px;
	box-shadow: 1px 1px 3px #0E0D0D; 
}
    .smallbutton:hover, .smallbutton:active {
        background-position: 0 -6px !important;
        box-shadow: 1px 1px 2px #0E0D0D;
        opacity: 0.85;
        -webkit-transition: opacity linear 0.2s, box-shadow linear 0.2s;
        -moz-transition: opacity linear 0.2s, box-shadow linear 0.2s;
        -o-transition: opacity linear 0.2s, box-shadow linear 0.2s;
        transition: opacity linear 0.2s, box-shadow linear 0.2s;
    }
.gradienthighlight
{
	background: white url(images/horizontalgradient.gif) repeat-y;
}
.gridheader, .gridheaderbig
{
	height: 18px;
	padding: 4px;
	background: #003399 url(images/headergradient.png) repeat-x;
	text-align: center;
	font-weight: bold;
	text-decoration: none;	
}
.gridheaderleft
{
	text-align: left;
}
.gridheaderbig
{
	background: url(images/headergradient.gif) repeat-x bottom;
}
.gridnormal
{
	background-color: #eeeeee;
}
.gridalternate
{
	background-color:#b5c7d6;
}
.gridhighlight
{
	background-color:#ffcc66;
	cursor:pointer;
}
.errormessage
{
	font-weight: bold !important;
	color: maroon !important;
}
.errordisplay
{	
	font-weight: normal;
	color: maroon !important;
	background-color:khaki !important;
	border: solid 2px maroon !important;	
	margin: 7px 0;
	padding: 10px;
	box-shadow: 3px 3px 5px #535353;
	border-radius: 4px;
}
.errordisplay-warning-icon, .errordisplay-info-icon {
    width: 16px;
    height: 16px;
    float: left;    
    margin: 0 5px;
    background-image: url(images/warning.gif);
}
.errordisplay-info-icon {
    background-image: url(images/info.gif);
}
.errordisplay-text{
    margin-left: 40px;
    font-weight: bold;
}
.errordisplay hr
{
	background: maroon;
}
.errorhighlight
{
    background-color: #FCEBF2 !important;
    border-color: Red !important;
    border-width: 2px !important;  
}
.containercontent
{
	padding: 20px;
}
.contentcontainer
{
  margin: 15px;
  padding: 20px;
  background: white;       
  border-top: solid 1px silver;
  border-left: solid 1px silver;
  border-right: solid 2px #535353 ;
  border-bottom: solid 2px #535353;
  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -opera-border-radius: 10px;
  border-radius: 10px;
  
  -moz-box-shadow: #535353  2px 2px 3px;
  -webkit-box-shadow: #535353 2px 2px 3px;     
  box-shadow: 3px 3px 5px #535353  ;
}

.boxshadow 
{
  -moz-box-shadow: 3px 3px 5px #535353;
  -webkit-box-shadow: 3px 3px 5px #535353;       
  box-shadow:  2px 3px 6px #535353;
}
.roundbox
{  
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px;  
  border-radius: 6px 6px 6px 6px;
}
.roundbox-top
{    
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;    
    border-radius: 4px 4px 0 0;
}
.roundbox-bottom
{    
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.dialog
{
  background: White;
  overflow: hidden;
  border: solid 1px steelblue;    
  -moz-border-radius: 6px 6px 4px 4px;
  -webkit-border-radius: 6px 6px 4px 4px;
  border-radius: 6px 6px 3px 3px;    
}
.dialog-header
{	
	background-image: url(images/headergradient.png);    
	background-repeat: repeat-x;
	text-align: left;
	color: cornsilk;
	padding: 5px;	
	padding-left: 10px;
	font-size: 1.02em;
	font-weight: bold;	
	position: relative;
    -moz-border-radius: 4px 4px 0px 0px;   
    -webkit-border-radius: 4px 4px 0px 0px;       
    border-radius: 4px 4px 0px 0px;       
}
.dialog-top
{
    -moz-border-radius: 4px 4px 0px 0px;   
    -webkit-border-radius: 4px 4px 0px 0px;       
    border-radius: 4px 4px 0px 0px;       
}
.dialog-bottom
{
    -moz-border-radius: 0 0 3px 3px;   
    -webkit-border-radius: 0 0 3px 3px;   
    border-radius: 0 0 3px 3px;   
}
.dialog-content
{
	padding: 15px;
	text-align: left;
}
.dialog-statusbar, .dialog-toolbar
{
	background: #eeeeee;
	background-image: url(images/dialogstrip.png);
	background-repeat: repeat-x;
	padding: 5px;
	padding-left: 10px;
	border-top: solid 1px silver;
	border-bottom: solid 1px silver;
	font-size: 0.8em;
}
.dialog-statusbar
{
    -moz-border-radius: 0 0 3px 3px;   
    -webkit-border-radius: 0 0 3px 3px;   
    border-radius: 0 0 3px 3px;   
	padding-right: 10px;
}
.toolbarcontainer  
{
	background:#eeeeee;
	background-image: url(images/dialogstrip.png);
	background-repeat: repeat-x;
	border: solid 1px silver;
	vertical-align: top;
	padding: 5px; 
}
.statusbar
{
	position: fixed;
	bottom: 5px;
	left: 0px;
	right: 0px;
	height: 16px;	
	padding: 5px;	
	background: black;
	color: white;	
	border: solid 1px lightgray;	
	opacity: .70;	
	filter: alpha(opacity="70");
	z-index: 200;
	overflow: hidden;
	overflow-y: auto; 
}
.statusbarhighlight
{
	font-weight: bold;
	background-color: khaki;
	color: Maroon;
	border: solid 1px silver;
}
.statusbarclose
{
	position: absolute;
	right: 10px; 
	top: 2px;
	color:red;
	font-size: 12pt;
	font-weight: bold;
	cursor: pointer;
}
.hoverbutton  
{
	text-decoration:none;		
	padding: 6px; 	
	font-size: 8pt; 		
	border: solid 1px transparent; 			
	cursor: hand;	
	border-radius:4px;
}
.hoverbutton img
{
    vertical-align: text-bottom;    
}
.hoverbutton:hover
{	
	background: white url('images/dialoghighlight.png'); 
	border:  outset 1px silver; 	
	cursor: pointer;

}     
.hoverbutton a
{
	text-decoration: none;
}

.closebox
{
	position: absolute;    	
	right: 2px;
	top: 2px;
	background-image: url(images/close.gif);
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	cursor: pointer;    	
	opacity: 0.60;
	filter: alpha(opacity="80");
} 
.closebox:hover 
{
	xbackground-color: white;
	opacity: 1;
	filter: alpha(opacity="95");
}


.tabbutton, .tabbutton-selected, .tabbutton-disabled
{
    float: left;
    background: #B0C4DE;
    color: Black;
    cursor: pointer;
    text-align: center;
    min-width: 80px;
    padding: 7px;
    margin-right: 3px;
    margin-top: 2px;
    border-radius: 6px 6px 0 0;
    box-shadow: 3px 0px 4px #535353;      
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tabbutton-selected
{
    font-weight: bold;
    background: #4062A7;            
    color: White;
    cursor: default;
}
.tabbutton:hover
{
    background: #3366CC;
    color: white;        
}
.tabbutton-disabled
{
    cursor: default;    
    color: #535353;
    opacity: 0.60;
    filter: alpha(opacity="60");
}
.notebox
{
	background: lightsteelblue;
	padding: 7px;
	border: solid 1px navy;
	margin: 5px 40px 15px 30px;
	font-size: 0.8em;
    border-radius: 4px;
    box-shadow: #535353 2px 2px 3px;
}
.busy
{
	background-image: url(images/loading_small.gif);
	background-repeat: no-repeat;
	background-position: right;
}
.smallprogress,.smallprogress-right
{
	width: 16px;
	height: 16px;
	background-image: url(images/loading_small.gif);
	background-repeat: no-repeat;	
	display: none;
}
.smallprogress-right { float: right }
.statusbar
{
	position: fixed;
	bottom: 5px;
	left: 0px;
	right: 0px;
	height: 16px;	
	padding: 5px;	
	background: black;
	color: white;	
	border: solid 1px lightgray;	
	opacity: .70;	
	filter: alpha(opacity="70");
	z-index: 200;
	overflow: hidden;
	overflow-y: auto; 
}
.statusbarhighlight
{
	font-weight: bold;
	background-color: khaki;
	color: Maroon;
	border: solid 1px silver;
}
.statusbarclose
{
	position: absolute;
	right: 10px; 
	top: 2px;
	color:red;
	font-size: 12pt;
	font-weight: bold;
	cursor: pointer;
}

.code 
{
    
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #e2e2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9f9f9 0%,#e2e2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#e2e2e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9f9f9 0%,#e2e2e2 100%); /* W3C */

    border: 1px solid silver;    
    /*box-shadow: 3px 3px 5px #535353 ;*/
    border-radius: 4px;
    margin: 15px 7px;
    padding: 12px 12px;
    overflow-x: auto;    
}
pre.code span{ background: none !important; }

.csharpcode
{
	color: black;
	font-family: monospace, courier new , courier;
	font-weight: normal;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0px; }
.rem { color: #008000; }
.kwrd { color: #0000ff; }
.str { color: #006080; }
.op { color: #0000c0; }
.preproc { color: #cc6633; }
.asp { background-color: #ffff00; }
.html { color: #800000; }
.attr { color: #ff0000; }
.alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0px;
}
.lnum { color: #606060; }

.showcode {
    background: cornsilk;
    border: solid 2pt silver;
    padding-left: 20px;
}
.commentcode {
    background: #f9f9f9; /* Old browsers */
    background: linear-gradient(to bottom,  #f9f9f9 0%,#e2e2e2 100%); /* W3C */

    border: solid 1pt silver;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 4px;    
    overflow-x: auto;
}
.commentcode .csharpcode {
    font-size: 0.9em;
}



/* Book Display */
.authorimage {
    box-shadow: 2px 2px 3px #535353;
    border-radius: 4px;
    text-align: center;
}
#divBookHighlight img {
    box-shadow: 2px 2px 3px #535353;
    border-radius: 4px;
}
#SideBar {
    position: absolute;
    top: 898px;
    left: 10px;
    width: 200px;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 6px;
    box-shadow: #535353 2px 2px 3px;
    
}
#twitter-widget-0,#twitter-widget-2
{
    width: 194px;
    padding: 3px;    
}
.sidebarheader
{    
	padding: 4px;
	background: #003399 url(images/headergradient.png) repeat-x;
	text-align: center;
    font-size: 0.8em;
	font-weight: bold;
	text-decoration: none;	
	border-radius: 0 4px 4px 0;
	box-shadow: 2px 2px 3px #535353;
	color: White;
	margin: 0 5px 0 0;
}
#divBookHighlights
{	
}
#divBookHighlight
{	
	margin-bottom: 20px;
}
#divBookHighlight img
{
	margin-bottom: 3px;
}
#divCommentPreview
{
	border: solid 1px navy;
	padding: 10px;
	background-color: White;
	background-image: url(images/lightbluegradient.png);
	background-repeat: repeat-x;
	margin-top: 5px;
	font-size: .8125em;
}
#SocialLinks {
    text-align:right;
}
    .twitter-share-button {
        width: 85px;
    }

/* Lake Quincy Ad */
#qdmad, .topbannerad
{
    display: block;
	font-size: 8pt;	    
    text-align: center;
    margin: 10px auto; 
    /*width: 728px; 
    height: 90px;*/
    padding: 0px;    
    /*margin: 35px auto 30px auto;*/           
}
.dmAdText { 
    padding: 6px 0;
    margin: 2px;    
}

.twitterdiv
{
	border: 1px solid lightsteelblue;
	padding: 10px;       	
	
	background: #F5F5F5;
	background: -moz-linear-gradient(top, rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* W3C   */
	margin: 3px;
	margin-bottom: 8px;
	border-radius: 4px;
	box-shadow: 2px 2px 3px #535353;
}
.twitteritem 
{
	font-size: 8.25pt; 
	text-align: justify;       	
}    
.twitteritem a, .twitteritem a:visited
{
	text-decoration: none;
}
.twitterbyline
{	
	font-size: 7pt;  
	font-style: italic;
	margin: 4px 0px 5px 10px;
}
.inlinead {
    float:left; 
    padding: 5px 10px 5px 0;
}

@media (max-width: 700px ) {   
    .hide-small {
        display: none;
    } 
    #SideBar {
        display: none;
    }
    .contentpanel {
        margin-left: 1px;
        padding: 12px;        
    }
    .weblogbanner {
        font-size: 8pt;
    }

    #SubTitle {
        display: none;
    }
    h2 {
        font-size: 1.3em;
    }

    .code {
        box-shadow: #535353 2px 2px 4px;
        border-radius: 3px;
        margin: 3px;
        padding: 7px;
        overflow-x: auto;        
    }
    .advert {        
    }
    #SocialLinks {
        top: 78px;
    }
}

@media (max-width: 400px ) {
    /*html, body { font-size: 0.95em; }*/
    .contentpanel {
        padding: 15px;
    }
    .topbannerad {
        margin: 10px 0;
        margin-left: -8px;
    }
}
